.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #232327;
}
.input {
  padding: 5px;
  width: 320px;
  border-radius: 4px;
  border: 1px solid #232327;
  color: #232327;
  font-size: 16px;
}
